<h2>Países</h2>
<hr>

<ul class="list-group">
    <!-- <li class="list-group-item" [routerLink]="['/home']" routerLinkActive="active" >
        Home page
    </li>
    <li class="list-group-item" [routerLink]="['/about']" routerLinkActive="active" >
        About page
    </li>
    <li class="list-group-item" [routerLink]="['/contact']" routerLinkActive="active" >
        Contact page
    </li> -->
    <li class="list-group-item" [routerLink]="['/countries/byCapital']" routerLinkActive="active" >
        By Capital page
    </li>
    <li class="list-group-item" [routerLink]="['/countries/byCountry']" routerLinkActive="active" >
        By Country page
    </li>
    <li class="list-group-item" [routerLink]="['/countries/byRegion']" routerLinkActive="active" >
        By Region page
    </li>
</ul>