<h2>Por Regíon</h2>
<hr>

<div class="row">
    <div class="col text-center">
        <!-- SearchBox -->
        <!-- <shared-search-box (onDebounce)="searchByRegion($event)" placeholder="Buscar por regíon"></shared-search-box> -->
        <button class="btn mx-2" *ngFor="let region of regions" (click)="searchByRegion(region)" [ngClass]="{'btn-outline-primary': selectRegion === region}">
            {{ region }}
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr>
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>
